# Node
node_modules/
npm-debug.log
yarn-error.log

# Build / Dist / Electron
dist/
build/
release/
out/
dist/win-unpacked/
dist/*.exe
dist/*.dll
*.exe
*.dll
*.pak
*.zip

# Frontend / Vite / dev
/dist/
/dist-*/

# OS / misc
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.local
.env.*.local
.config/
secrets.json